.faq-page-section-container{
    max-width: 800px;
    margin: 3rem auto;
}

.faq-page-section-title{
    text-align: center;
    margin: 5rem 0;
}

.faq-page-section-title h3{
    font-size: 30px;
    font-weight: bold;
}

.faq-page-section-right-content-detail-box-title{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.faq-page-section-right-content-detail-box{
    margin-bottom: 3rem;
}

.faq-page-section-right-content-detail-box-title img{
    height: 30px;
}

.faq-page-section-right-content-detail-box-title h3{
    font-weight: bold;
    margin: 0;
}

.faq-page-section-right-content-detail-box p{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.faq-page-section-right-content-detail-box li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width:768px) {
    .faq-page-section-container{
        padding: 1rem;
        margin: 0;
    }
    .faq-page-section-title h3{
        margin: 1rem 0;
    }
    .faq-page-section-right-content-detail-box-title img{
        height: 20px;
    }
    .faq-page-section-right-content-detail-box-title h3{
        font-size: 18px;
    }
    .faq-page-section-right-content-detail-box p,
    .faq-page-section-right-content-detail-box li
    {
        font-size: 14px;
    }
    .faq-page-section-right-content-detail-box p{
        text-align: justify;
    }
}