.about-donation-section-container{
    max-width: 1300px;
    margin: 5rem auto;
}

.about-donaction-section-left-content h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.about-donaction-section-right-content p{
    font-size: 30px;
}

.about-donaction-section-right-content a{
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

@media (max-width:768px) {
    .about-donaction-section-left-content h1{
        font-size: 30px;
    }
    .about-donaction-section-right-content p{
        font-size: 20px;
        text-align: justify;
    }
    .about-donaction-section-right-content a{
        font-size: 20px;
    }
}