.shop-top-section-circle-center-image {
    position: absolute;
    animation: rotateImage 10s linear infinite;
    right: 100px;
    top: 500px;
    z-index: 999;
}

.shop-top-section-circle-hand-img {
    position: absolute;
    right: 110px;
    top: 500px;
    z-index: 999;
}

.about-top-section-circle-center-image {
    position: relative;
    animation: rotateImage 10s linear infinite;

}

.about-top-section-circle-hand-img {
    position: absolute;
    top: 0;
    left: -10px;
}

/* Image rotation keyframes */
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .shop-top-section-circle-center-image {
        right: 30px;
        top: 350px;
    }

    .shop-top-section-circle-hand-img {
        right: 40px;
        top: 350px;
    }
}